<template name="email">
      <span>Email :</span>
      <label>
      <input type="radio" class="enableEmail" name="email" value="Enabled"  required> Enabled
      <input type="radio" class="disableEmail" name="email" value="Disabled" > Disabled
      </label>
      <br>
      <br>
      
      {{#if displayEmail}}
      <div id="emailDetails" >
        <label>
        Email Customer :
        <input type="radio" class="enableEmailCustomer" name="EmailCustomer" value="Enabled" required> Enabled
        <input type="radio" class="disableEmailCustomer" name="EmailCustomer" value="Disabled"> Disabled
        <br>
        <br> Email Client :
        <input type="radio" class="enableEmailClient" name="EmailClient" value="Enabled" required> Enabled
        <input type="radio" class="disableEmailClient" name="EmailClient" value="Disabled" > Disabled
        <br>
        <br> Email WebMaster :
        <input type="radio" class="enableWebMasteremail" name="emailWebMaster" value="Enabled" required> Enabled
        <input type="radio" class="disableWebMasteremail" name="emailWebMaster" value="Disabled" > Disabled
        <br>
        <br> Email Processor :
        <input type="radio" class="mailgunProcessoremail" name="emailProcessor" value="Mailgun" required > Mailgun
        <input type="radio" class="otherProcessoremail" name="emailProcessor" value="Other" > Other
        </label>
        <br><br>

        <td id="EmailAddresses" >
          <tr>From Email :
            <input type="email" id="FromEmailAdd" class="fromEmail" name="FromEmail" value="" required>
          </tr><br>
        </td>
      </div>
     {{/if}}

      
     {{#if displayEmailClientAdd}}
      <div id="ClientEmailAddresses" >
        <td>
          <tr>Client Email :
            <input type="email" id="ClientEmailAdd" class="clientEmail" name="ClientEmail" value="" required>
          </tr>
        </td><br>
      </div>
      {{/if}}

      {{#if displayEmailWebMasterAdd}}
      <div id="WebMasterEmailAddresses" >
        <td>
          <tr>WebMaster Email :
            <input type="email" id="WebMasterEmailAdd" class="webmasterEmail" name="WebMasterEmail" value="" required>
          </tr>
        </td>
        <br>
      </div>
      {{/if}}
      
      {{#if displayEmailProcessorDetails}}
      <div id="EmailProcessorDetails" >
        <td>
          <tr><span>Email Processor Details</span>
            <br> API Key :
            <input type="text" class="apiKey" name="APIKey" value="" required>
          </tr>
          <br>

          <tr>Domain Name :
            <input type="text" class="domainName" name="DomainName" value="" placeholder="example.com" required>
          </tr><br>
        </td><br>
      </div>
      {{/if}}
</template>
