<template name="email">
<div class="@container-desktop">
      <span>Email :</span>
      <label>
      <input type="radio" class="enableEmail" name="email" value="Enabled"  required> Enabled
      <input type="radio" class="disableEmail" name="email" value="Disabled" > Disabled
      </label>
      <br>
      <br>
      
      {{#if displayEmail}}
      <div id="emailDetails" >
        <label>
        Email Customer :
        <input type="radio" class="enableEmailCustomer" name="EmailCustomer" value="Enabled" required> Enabled
        <input type="radio" class="disableEmailCustomer" name="EmailCustomer" value="Disabled"> Disabled
        <br>
        <br> Email Client :
        <input type="radio" class="enableEmailClient" name="EmailClient" value="Enabled" required> Enabled
        <input type="radio" class="disableEmailClient" name="EmailClient" value="Disabled" > Disabled
        <br>
        <br> Email WebMaster :
        <input type="radio" class="enableWebMasteremail" name="emailWebMaster" value="Enabled" required> Enabled
        <input type="radio" class="disableWebMasteremail" name="emailWebMaster" value="Disabled" > Disabled
        <br>
        <br> Email Processor :
        <input type="radio" class="mailgunProcessoremail" name="emailProcessor" value="Mailgun" required > Mailgun
        <input type="radio" class="otherProcessoremail" name="emailProcessor" value="Other" > Other
        </label>
        <br><br>

          <span>From Email :</span>
            <input type="email" id="FromEmailAdd" class="fromEmail" name="FromEmail" value="" required>
          <br><br>
      </div>
     {{/if}}

      
     {{#if displayEmailClientAdd}}
        <span>Client Email :</span>
            <input type="email" id="ClientEmailAdd" class="clientEmail" name="ClientEmail" value="" required>
          <br><br>
      {{/if}}

      {{#if displayEmailWebMasterAdd}}
      <span>WebMaster Email :</span>
            <input type="email" id="WebMasterEmailAdd" class="webmasterEmail" name="WebMasterEmail" value="" required>
        <br><br>
      {{/if}}
      
      {{#if displayEmailProcessorDetails}}
        <span>Email Processor Details</span>
            <br> <span>API Key :</span>
            <input type="text" class="apiKey" name="APIKey" value="" required>
          <br><br>

          <span>Domain Name :</span>
            <input type="text" class="domainName" name="DomainName" value="" placeholder="example.com" required>
        <br><br>
    
      {{/if}}
</div>
</template>
