 <template name="payment">

<div class="@container-desktop">
     <span> Online Payment : </span>
    <label class="radio-inline">
      <input type="radio" class="enableOnlinePayment" name="OnlinePayment" value="Enabled"  required > Enabled  
    </label>


   <label class="radio-inline"> 
      <input type="radio" class="disableOnlinePayment" name="OnlinePayment" value="Disabled" > Disabled
   </label>
     <br><br> 

   {{#if displayPaymentDetails}}
    <span>Payment Processor:</span>
    <label class="radio-inline">
      <input type="radio" class="stripeProcessor" name="PaymentProcessor" value="Stripe" required > Stripe
    </label>
    <label class="radio-inline">
      <input type="radio" class="otherProcessor" name="PaymentProcessor" value="Other" > Other
    </label>
      <br><br>
      
     
       
     <span>Payment Processor Details</span><br>
      <span> Private Key :</span>
          <input type="text" class="privateKey" name="PrivateKey" value="" required>
        <br><br>
     <span> Public Key : </span>
         <input type="text" class="publicKey" name="PublicKey" value="" required>
      <br><br>
    <span> API version : </span>
         <input type="text" class="apiVersion" name="ApiVersion" value="" required>
     <br><br>   
     {{/if}}

     </div>
     </template>