<template name="printer">
      <span>Printer :</span>
      <label>
      <input type="radio" class="enablePrinter" name="Printer" value="Enabled"  required> Enabled
      <input type="radio" class="disablePrinter" name="Printer" value="Disabled" > Disabled
      </label>
      <br><br>
     
     {{#if displayPrinterDetails}}
      <div id="printerDetails" >
        <label>
        Printer Processor :
        <input type="radio" class="printerProcessor" name="PrinterProcessor" value="XXXX" required> XXXX
        <input type="radio" class="noPrinterProcessor" name="PrinterProcessor" value="Nothing"> Nothing
        </label>
        <br><br>
      </div>
      {{/if}}
</template>