<template name="userInfo">      
<form name="userinfo">


{{#with pullData}}
<a class="linktohome" href="/">Home</a>
<br><br>

<div class="DataFromDb">

   <span> Name :</span>
      <input type="text" name="clientname" value="{{name}}" disabled>
   <br><br>


<span>Select Restaurant :</span>
   <select class="restaurantList" id="restaurants" name="restaurantlist"  >
    <option value="{{extractRestaurantList '0'}}" >{{extractRestaurantList '0'}} </option>
    <option value="{{extractRestaurantList '1'}}" >{{extractRestaurantList '1'}} </option>
    <option value="{{extractRestaurantList '2'}}" >{{extractRestaurantList '2'}} </option>
    </select>


  <input  type="text" class="RestaurantNamehidden" name="RestaurantName" value={{extractRestaurantName 'default'}} style="display:none" disabled>
        <br><br>

       <input type='button' class="edit" name="edit_btn" value='Edit' >

       <input type='submit' class="submit" value='Update' >

   <fieldset id="field" class="field" disabled>
    <span>Root Url :</span>
      <input id="editable" type="value" name="RootUrl" value={{restaurantData 'private' 'rootUrl'}} >
      <br><br>
  
   <span>Image Formatter :</span>
     
      <input  name="ImageFormatter" value={{restaurantData 'public' 'imageFormatter'}} >
   <br><br>

   <span>Country Code :</span>
   <input  name="CountryCodes" value={{restaurantData 'public' 'countryCode'}} >
    <br><br>

   <span>Currency Code:</span>
   <input  name="CurrencyCode" value={{restaurantData 'public' 'currencyCode'}}  >
   <br><br>

   <span>GMT Offset:</span>
   <input  name="GMTOffset" value={{restaurantData 'public' 'gmtOffset'}} >
   <br><br> 
 
   <span>Websheets Url :</span>
    <input  name="WebsheetsURL" value={{restaurantData 'private' 'websheetsUrl'}} >
      <br><br>

   <span>Online Payment :</span>
      <input name="OnlinePayment" value={{restaurantData 'public' 'onlinePayment'}} >  
     <br><br> 

    <span>Payment Processor:</span>
      <input name="PaymentProcessor" value={{restaurantData 'public' 'paymentProcessor'}} >  
      <br><br>
           
    <span>Payment Processor Details</span><br><br>
    <span>Private Key :</span>
           <input name="PrivateKey" value={{extractDataDetails 'private' 'paymentProcessor' 'privateKey'}} >  
     <br><br> 
     <span>Public Key:</span>
           <input name="PublicKey" value={{extractDataDetails 'public' 'paymentProcessor' 'publicKey'}} >  
      <br><br> 
      <span>API version :</span>
         <input name="ApiVersion" value={{extractDataDetails 'private' 'paymentProcessor' 'apiVersion'}} >  
<br><br>

    <span>Sms :</span>  
      <input name="sms" value={{restaurantData 'private' 'sms'}} >
      <br><br>

      <span>Sms Customer :</span>  
      <input name="smsCustomer" value={{restaurantData 'private' 'smsCustomer'}} >
      <br><br>

      <span>Sms Client :</span>  
      <input name="smsClient" value={{restaurantData 'private' 'smsClient'}} >
      <br><br>

      <span>Sms WebMaster :</span>  
      <input name="smsWebMaster" value={{restaurantData 'private' 'smsWebMaster'}} >
      <br><br>

      <span>Sms Processor :</span>  
      <input name="smsProcessor" value={{restaurantData 'private' 'smsProcessor'}} >
      <br><br>
      
      <span>Sms WebMaster Phone Number :</span>  
      <input name="smsWebMasterPhone" value={{restaurantData 'private' 'smsWebmasterPhoneNumber'}} >
      <br><br>

      <span>Sms Processor details</span><br><br>
        
      <span>Account SID :</span>  
      <input name="AccSID" value={{extractDataSms 'private' 'smsProcessor' 'accountSID'}} >
      <br><br>

      <span>Auth Token :</span>  
      <input name="AuthToken" value={{extractDataSms 'private' 'smsProcessor' 'authToken'}}  >
      <br><br>

      <span>Phone Number :</span>  
      <input name="PhoneNumber" value={{extractDataSms 'private' 'smsProcessor' 'phoneNumber'}} >
      <br><br>


       <span>Email :</span>  
      <input name="email" value={{restaurantData 'private' 'email'}} >
      <br><br>

      <span>Email Customer :</span>  
      <input name="EmailCustomer" value={{restaurantData 'private' 'emailCustomer'}} >
      <br><br>

      <span>Email Client :</span>  
      <input name="EmailClient" value={{restaurantData 'private' 'emailClient'}} >
      <br><br>

      <span>Email WebMaster :</span>  
      <input name="emailWebMaster" value={{restaurantData 'private' 'emailWebmaster'}} >
      <br><br>

      <span>Email Processor :</span>  
      <input name="emailProcessor" value={{restaurantData 'private' 'emailProcessor'}} >
      <br><br>

      <span>Email Addresses</span>
      <br>

      <span>From Email :</span>  
      <input name="FromEmail" value={{restaurantData 'private' 'emailFromAddress'}} >
      <br><br>

      <span>Client Email :</span>  
      <input name="ClientEmail" value={{restaurantData 'private' 'emailClientAddress'}}  >
      <br><br>

      <span>WebMaster Email :</span>  
      <input name="WebMasterEmail" value={{restaurantData 'private' 'emailWebmasterAddress'}} >
      <br><br>

      <span>Email Processor details</span>
      <br>

      <span>API Key :</span>  
      <input name="APIKey" value={{extractDataSms 'private' 'emailProcessor' 'apiKey'}}  >
      <br><br>

      <span>Domain Name:</span>  
      <input name="DomainName" value={{extractDataSms 'private' 'emailProcessor' 'domainName'}} >
      <br><br>

      <span>Printer :</span>  
      <input name="Printer" value={{restaurantData 'private' 'printer'}} >
      <br><br>

      <span>Printer Processor:</span>  
      <input name="PrinterProcessor" value={{restaurantData 'private' 'printerProcessor'}} >
      <br><br>

      <span>Order System:</span>  
      <input name="OrderSystem" value={{restaurantData 'private' 'orderSystem'}} >
      <br><br>

      <span>Order Processor:</span>  
      <input name="OrderProcessor" value={{restaurantData 'private' 'orderProcessor'}} >
      <br><br>

</fieldset>

       <br><br>
       <input type='button' class="edit" name="edit_btn" value='Edit' ><br><br>

       <input type='submit' class="submit" value='Update' >
</div>
{{/with}}
</form>
</template>