fieldset[disabled]{ 
    background-image:url(images/form_bg.jpg);
    font-family:tahoma, arial, sans-serif;
    font-weight: bold;
    border:none;
    opacity: 0.6;
}

input[type="radio"] {
  margin-right: 10;
  display: inline;
  position: relative;
}

input:focus, textarea:focus { 
    background-color: rgb(224,224,224) ;
    overflow: hidden; 
    outline: none;
}

.RestaurantNamehidden{
    display: none;
}


.submit , .reset ,.edit,.addRestaurant{
    overflow: hidden;
    float: left;
    width: 100px; /* setting the width */
    margin: 10px; /* this will center  it */
    height: 38px;
    border: 1px solid #66661A;
    font-family:garamond;
    font-weight: normal;
    font-size: 14px;
    color: black;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 20px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #606060;
    background-image: -moz-linear-gradient(bottom, #606060 0%, #416b68 100%);
    background-image: -o-linear-gradient(bottom, #606060 606060%, #416b68 100%);
    background-image: -webkit-linear-gradient(bottom, #33CC66 0%, #416b68 100%);
    background-image: linear-gradient(bottom, #606060 0%, #416b68 100%);
    cursor:pointer;
}


    .submitButton,.addData_btn {
    overflow: hidden;
    width: 100px; /* setting the width */ /* this will center  it */
    height: 38px;
    border: 1px solid #66661A;
    font-family:garamond;
    font-weight: normal;
    font-size: 14px;
    color: black;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 20px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #606060;
    background-image: -moz-linear-gradient(bottom, #606060 0%, #416b68 100%);
    background-image: -o-linear-gradient(bottom, #606060 606060%, #416b68 100%);
    background-image: -webkit-linear-gradient(bottom, #33CC66 0%, #416b68 100%);
    background-image: linear-gradient(bottom, #606060 0%, #416b68 100%);
    cursor:pointer;
}




span,label,td{
     font-weight: normal;
	 font-family:garamond;}

.ClientNameSearch {
    border-radius: 5px;
    text-align: center;
    float:left;
    background:#202020;
    width: 350px;
    height: 300px;
    padding: 25px;
    margin-left: 430px;
    margin-top: 150px;
}

.field {
  width: 500px;
  border:none;
  float: left;  
}

.ClientNameInput {
    width:150px;
    height: 40px;
    text-align: center;
}

.DataFromDb {   
    padding-right: 350px;
    padding-top: 50px;
    padding-bottom: 130%;
    padding-left: 500px;
    background:#202020;
    color: grey;
}

.DataFromDb span {   
    color: white;
}

.FormElements{   
    padding-right: 350px;
    padding-top: 50px;
    padding-bottom: 65px;
    padding-left: 500px;
    background:#202020;
 }

input:not([type=radio]):not([type=button]):not([type=submit]):not([type=reset]):not([class=ClientNameInput]),select{
    display:inline;
    width:120px;
    height: 20px;
    text-align: center;
    float:right;
    margin-right: 150px;}

    
input,select,textarea {
    border-radius: 15px;
    font-weight: normal;
    font-family:garamond;
    font-size: 14px;
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; }

body{
    background-color: #E0E0E0;
    color:#FFFFFF;
    font-weight: normal;
    font-family:garamond;}
}


p { text-indent: 30px }
