span,label,td{font-weight: normal;
	 font-family:garamond;}

.ClientNameSearch {
    text-align: left;
    float:left;
    padding-top: 20px;
    padding-left: 20px;
    background:#F9FDFF;
}

.DataFromDb{   
    padding-right: 300px;
    padding-top: 50px;
    padding-bottom: 25px;
    padding-left: 400px;
    margin-right: 80px;
    background:#F9FDFF;}

.FormElements{   
    padding-right: 300px;
    padding-top: 50px;
    padding-bottom: 25px;
    padding-left: 500px;
    background:#F9FDFF;}

input:not([type=radio]):not([type=button]):not([type=submit]),select{
    display:inline;
    width:100px;
    float:right;
    margin-right: 150px;}

    
input,select,textarea {
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; }

.submit input { 
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    }

.edit{
    margin-left: 10px;
    width: 100px;

}


p { text-indent: 30px }
