fieldset[disabled] {
    background-image: url(images/form_bg.jpg);
    font-family: tahoma, arial, sans-serif;
    font-weight: bold;
    border: none;
    opacity: 0.6;
}
.fieldgroup,
.radio_fieldgroup {
    float: left;
    margin-right: 100px;
}
input:focus,
textarea:focus {
    background-color: rgb(224, 224, 224);
    overflow: hidden;
    outline: none;
}
.RestaurantNamehidden {
    display: none;
}
dt {
    text-transform: capitalize;
    float: left;
    width: 220px;
    text-align: left;
    font-weight: normal;
    font-family: garamond;
}
dt:after {
    content: ': ';
}
dd {
    float: right;
}
span,
dt,
label,
td {
    text-transform: capitalize;
    font-weight: normal;
    font-family: garamond;
}
.homepageElements {
    padding-right: 450px;
    padding-top: 200px;
    padding-bottom: 244px;
    padding-left: 570px;
    background: #202020;
}
.form-control {
    width: 160px;
    height: auto;
    text-align: center;
    float: left;
    margin-left: -10px;
}
.field {
    width: 500px;
    border: none;
    float: left;
}
.DataFromDb {
    padding-right: 350px;
    padding-top: 50px;
    padding-bottom: 5%;
    padding-left: 500px;
    background: #202020;
    color: grey;
}
.DataFromDb dt,
span {
    color: white;
}
.FormElements {
    padding-right: 350px;
    padding-top: 50px;
    padding-bottom: 65px;
    padding-left: 500px;
    background: #202020;
}
.btn.btn-primary {
    width: 140px;
    float: center;
}
input:not([type=radio]):not([type=button]):not([type=submit]):not([type=reset]):not([class=ClientNameInput]):not([class=form-control]),
select {
    width: 120px;
    text-align: center;
    float: right;
    margin-right: 139px;
    color: black;
}
input,
textarea {
    border-radius: 8px;
    font-weight: normal;
    font-family: garamond;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}
body {
    background-color: #E0E0E0;
    color: #FFFFFF;
    font-weight: normal;
    font-family: garamond;
}
}
footer {
    margin: auto;
    height: auto;
    background-color: #1e2127;
    text-align: center;
}